* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  height: 900px;
  margin: 0 auto;
}

.my-box {
  border: 2px solid black;
  margin: -2px 0 0 -2px;
  flex-basis: 6.25%;
}
